
td{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: lighter;
}

h1{

  color: white;
  text-align: center;
  font-weight: bold;
  font-family: fantasy;

}

div{
  display: block;

}

.titleBar {

  background-color: #15D5CB;  
  font-size: xx-large;
}

.aboutSite {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: fantasy;

}

.socials {
  display: block;
  background-color: #15D5CB;
  font-size: larger;

}

