

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: lighter;

}

h1{

  color: white;
  text-align: center;
  font-weight: bold;
  font-family: fantasy;

}

h3{
  color: white;
  text-align: center;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.titleBar {

  background-color: #ffabf8;  
  font-size: xx-large;
}

.aboutSite {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: fantasy;

}

.socials {
  display: block;
  background-color:#ffabf8;
  font-size: larger;

}


