

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;

}

h1{

  color: white;
  text-align: center;
  font-weight: bold;
  font-family: fantasy;

}

h3{
  color: white;
  text-align: center;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  height: 100%;
  background-color: #ffa6e4;  
}

div{
  display: block;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.titleBar {

  font-size: xx-large;
}

.aboutSite {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-family: fantasy;
  background-color: white;

}

.socials {
  display: block;
  font-size: larger;

}


